html  {
    font-family: "Avenir Next", Helvetica, sans-serif;
    text-align: center;
}

body  {
    max-width: 500px;
    margin: 0 auto;
}

input  {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
    padding-left: 50%;
}
    
input:focus {
outline: none;
}
.UI  {
    border: 1px red solid;
    font-display: center;
}

li  {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

footer  {
    position: absolute;
    bottom: 0;
    width: 644px;
    height: 20px;
    margin: 0 auto;
}

.removetask  {
    padding-bottom: 5px;
}